<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class="bar-stable" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-navicon" data-comp-id="button.1"></button>
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">View Issuses</ion-nav-title>
        <ion-nav-buttons side="right">
            <button class="button button-icon ion-home" data-comp-id="button.2"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content data-comp-id="ionic-content.1">
        <div data-comp-id="div.1">
            <div class="row" data-comp-id="row.1">
                <div class="col" data-comp-id="column.1">
                    <div data-comp-id="text.1">ID</div>
                </div>
            </div>
            <div class="row" data-comp-id="row.2">
                <div class="col" data-comp-id="column.2">
                    <i class="icon ion-person" data-comp-id="icon.1"></i>
                    <span data-comp-id="text.2">Status</span>
                </div>
                <div class="col" data-comp-id="column.4">
                    <i class="icon ion-bookmark" data-comp-id="icon.2"></i>
                    <span data-comp-id="text.3">Category</span>
                </div>
            </div>
            <div class="row" data-comp-id="row.3">
                <div class="col" data-comp-id="column.3">
                    <div data-comp-id="text.4">Summary</div>
                </div>
            </div>
        </div>
    </ion-content>
    <div class="footer-button-bar" data-comp-id="footer-bar-buttons.1"
        dynamic-floating-footer="">
        <div class="row" data-comp-id="row.4" style="padding: 0px;">
            <div class="col text-right" data-comp-id="column.5" style="padding: 0px;">
                <div class="footer-button" data-comp-id="footerButton.2">
                    <button class="button icon button-round button-shadowed ion-plus-round"></button>
                    <div class="label"></div>
                </div>
            </div>
        </div>
    </div>
</ion-view>